p,h1,h2,h3,h4,h5,h6{
    font-family: 'cwTeXYen','微軟正黑體','Microsoft JhengHei', sans-serif;;
    position: absolute;
    z-index: 100;
    color: #333;
}
#menu-toggle{
    z-index: 1000;
}
.bg-1,.bg-2,.bg-3,.bg-4,.bg-5,.bg-6,.bg-7,.bg-8,.bg-9,.bg-10{
    overflow: hidden;
    position: relative;
}
.bg-3{
    top: -550px;
}
.bg-4{
    top: -1000px;
    width: 100%;
}
.bg-5,.bg-6{
    top: -1000px;
}
.bg-8, .bg-9, .bg-10{
    margin-top: -1px;
}
.pic{
    position: absolute;
    z-index: 99;
}
.bg-1 h2{
    top: 180px;
    left: 90px;
    right: 150px;
}
.bg-2 h3{
    right: 50px;
    top: 200px;
    text-align: right;
}
.p-2-2{
    bottom: 36%;
    left: 77%;
    width: 13%;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.p-2-2:hover{
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
}
.p-3-1{    
    width: 54%;
    position: absolute;
    top: 7%;
    animation-duration: 2s;
}
.p-3-2{    
    width: 45%;
    position: absolute;
    top: 30%;
    right: 0;
}
.p-3-2 h3{
    position: absolute;
    top: 42%;
    left: 30%;
    right: 5%;
    font-size: 18px;
}
.p-3-2 img{
    animation-duration: 1.5s;}
.p-3-3{
    position: absolute;
    width: 100%;
    top: 58%;
}
.p-3-3 h3{
    top: -200px;
    left: 5%;
    width: 40%;
    color: #999;
    font-size: 18px;
}
.p-3-3 p {
    position: absolute;
    padding: 5px 8px;
    top: 34px;
    font-size: 20px;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    color: #000;
    left: 9%;
}
.p-3-3 p::after{
    content: url('../img/gif/talk.gif');
    position: absolute;
    width: 20px;
    bottom: -25px;
    left: 10px;
}
.p-3-3 h4{
    position: absolute;
    padding: 8px 10px;
    top: -34px;
    color: #000;
    background-color: rgba(255,255,255,1);
    right: 5%;
    border-radius: 5px;
}
.p-3-3 h4::after{
    content: url('../img/gif/talk.gif');
    position: absolute;
    width: 20px;
    bottom: -20px;
    right: 10px;
}
.bg-4 p{
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: 20px;
    padding: 0 50px;
    width: 100%;
}
.p-4-1{
    position: absolute;
    right: -30px;
    top: 0;
    width: 70%;
    z-index: 10;
    animation-duration: 3s;
}
.bg-4 h4{
    position: absolute;
    top: 300px;
    width: 50%;
    right: 20px;
}
.bg-5 h5{
    position: absolute;
    right: 20px;
    top: 10%;
    width: 30%;
}
.p-5-1,.p-5-2,.p-5-3,.p-5-1-1,.p-5-2-1,.p-5-3-1{
    position: absolute;
}
.p-5-1{
    top: 50%;
    left: 15%;
    width: 70%;
}
.p-5-2{
    top: 36%;
    left: 10%;
    width: 35%;
}
.p-5-3{
    top: 36%;
    right: 10%;
    width: 35%;
}
.p-5-1-1{
    top: 34%;
    left: 5%;
}
.p-5-2-1{
    top: 34%;
    right: 5%;
}
.p-5-3-1{
    top: 74%;
    left: 15%;
}
.p-6-1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12%;
}
.p-6-2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12%;
}
.p-6-3{
    position: absolute;
    bottom: 0px;
    left: 15%;
    font-size: 20px;
}
.p-6-3 strong{
    font-size: 24px;
}
.p-6-4{
    position: relative;
    bottom: 0px;
    left: 5%;
    font-size: 14px;
    display: none;
}
.p-6-4 strong{
    font-size: 18px;
}
.bg-6 h2{
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: #fff;
}
.bg-67{
    margin-top: -60%;
}
.bg-667{
    position: relative;
    padding: 50px 0;
    height: 400px;
}
.p-667-1{
    position: absolute;
    left: 20%;
    width: 27%;
    min-width: 230px;
}
.p-667-2{
    position: absolute;
    right: 20%;
    bottom: 20%;
    width: 20%;
    min-width: 180px;
}
.p-7-1{
    position: absolute;
    top: 29%;
    right: 23%;
    transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
}
.p-7-2{
    position: absolute;
    top: 63%;
    left: 6%;
    width: 49%;
    color: #fff;
    font-size: 18px;
}
.p-8-1{
    bottom: 21%;
    position: absolute;
    width: 35%;
    left: 28%;
}
.p-8-2{
    top: 8%;
    position: absolute;
    left: 4%;
}
.p-8-3{
    bottom: 21%;
    position: absolute;
    right: 58%;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 8px;
}
.p-8-3::after{
    content: url(../img/gif/talk.gif);
    position: absolute;
    width: 20px;
    top: -17px;
    right: 15px;
    transform: rotate(198deg);
}
.p-9-1{
    background: #fff;
    position: absolute;
    top: 4%;
    width: 50%;
    left: 48%;
    font-size: 20px;
    padding: 5px 8px;
    border-radius: 5px;
}
.p-9-1::after{
    content: url(../img/gif/talk.gif);
    position: absolute;
    width: 20px;
    top: 10px;
    right: -18px;
    transform: rotate(270deg);
}
.p-9-2{
    top: 62%;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0 50px;
}
.p-9-3{
    position: absolute;
    bottom: 49%;
    right: -3%;
    width: 21%;
}
.p-10-1{
    position: absolute;
    top: 8%;
    right: 0%;
    width: 41%;
    animation-duration: 2s;
}
.p-10-2{
    position: absolute;
    bottom: 8%;
    left: 5%;
    right: 5%;
    font-size: 20px;
}
.p-10-3-1{
    position: absolute;
    top: 26%;
    right: 5%;
    background-color: rgba(255,255,255,0.65);
    padding: 15px;
}
.p-10-3 {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 62%;
    background-color: rgba(255,255,255,0.65);
    padding: 15px;
}
.p-10-4 {
    position: absolute;
    font-weight: bold;
    top: 55%;
    right: 3%;
    width: 42%;
    text-shadow: 0px 0px 4px #fff;
}
.p-10-5{
    position: absolute;
    top: 95%;
    right: 4%;
    text-align: right;
}
/*後半段*/
.bg-11,.bg-12,.bg-13,.bg-14,.bg-15,.bg-16,.bg-17,.bg-18,.bg-19,.bg-20,.bg-21,.bg-22{
    overflow: hidden;
    position: relative;
    margin-top: -1px;
}
.p-11-1{
    position: absolute;
    width: 90%;
    top: 0%;
    left: -11px;
}
.p-11-2{
    position: absolute;
    top: 6%;
    left: 25%;
}
.p-11-3{
    position: absolute;
    top: 59%;
    right: 10%;
    background: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}
.p-11-3::after{
    content: url(../img/gif/talk.gif);
    position: absolute;
    width: 20px;
    bottom: -17px;
    right: 15px;
    transform: rotate(376deg);
}
.p-11-4{
    position: absolute;
    top: 78%;
    right: 27%;
    background: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}
.p-11-4::after{
    content: url(../img/gif/talk.gif);
    position: absolute;
    width: 20px;
    top: -17px;
    right: 15px;
    transform: rotate(200deg);
}
.bg-11-1{
    display: none;
}
.p-12-1{
    position: absolute;
    top: 0.5%;
    width: 100%;
    text-align: center;
    color: #fff;
}
.p-12-2{
    position: absolute;
    bottom: 20%;
    left: 25%;
    width: 14%;
}
.p-12-3{
    position: absolute;
    bottom: 20%;
    left: 60%;
    width: 14%;
}
.p-12-4{
    position: absolute;
    top: 16%;
    right: 7%;
    background: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}
.p-12-4::after{
    content: url(../img/gif/talk.gif);
    position: absolute;
    width: 20px;
    bottom: -17px;
    right: 15px;
    transform: rotate(376deg);
}
.p-12-5{
    position: absolute;
    top: 82%;
    right: 27%;
    background: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}
.p-12-5::after{
    content: url(../img/gif/talk.gif);
    position: absolute;
    width: 20px;
    top: -17px;
    right: 15px;
    transform: rotate(200deg);
}
.p-13-1{
    position: absolute;
    bottom: 8%;
    right: 1%;
    width: 23%;
}
.p-13-2{
    position: absolute;
    top: 5%;
    right: 5%;
}
.p-13-3{
    position: absolute;
    bottom: 3%;
    left: 5%;
    background: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}
.p-13-3::after{
    content: url(../img/gif/talk.gif);
    position: absolute;
    width: 20px;
    top: -17px;
    left: 15px;
    transform: rotate(200deg);
}
.p-14-1{
    position: absolute;
    top: 14%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}
.p-14-2{
    position: absolute;
    top: 25%;
    left: 5%;
}
.p-14-3{
    position: absolute;
    bottom: 7%;
    right: 37%;
    width: 19%;
    animation-delay: 0.4s;
}
.bg-15{
    margin-top: -2px;
}
.p-14-4{
    position: absolute;
    bottom: 12%;
    right: 7%;
    width: 21%;
}
.p-15-1{
    color: #fff;
    padding: 0 10px;
}
.p-15-2{
    bottom: 12%;
    right: 3%;
    text-align: right;
    text-shadow: 0.5px 0px 6px #333;
    color: #fff;
}
.p-16-1{
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 30px;
}
.p-16-2{
    position: absolute;
    bottom: 30%;
    left: 5%;
    color: #fff;
    text-shadow: 0px 0px 6px #333;
}
.p-17-1{
    position: absolute;
    top: 7%;
    left: 10%;
    right: 10%;
}
.p-18-1{
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    font-size: 28px;
}
.p-19-1{
    top: 0;
    width: 100%;
    text-align: center;
}
.p-19-2{
    bottom: 0;
    width: 100%;
    text-align: center;
}
.p-20-1{
    color: #fff;
    top: 5%;
    left: 9%;
    font-size: 28px;
}
.p-19-3{
    position: absolute;
    right: 23%;
    bottom: 51%;
    width: 14%;
    animation-direction: alternate;
    animation-duration: 3s;
}
.p-19-4{
    position: absolute;
    left: 3%;
    bottom: 56%;
    width: 11%;
    animation-duration: 1.8s;
}
.p-20-2{
    position: absolute;
    right: 0;
    top: 29%;
    width: 24%;
}
.p-20-3{
    position: absolute;
    top: 46%;
    right: 5%;
    background: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}
.p-20-3::after{
    content: url(../img/gif/talk.gif);
    position: absolute;
    width: 20px;
    top: -17px;
    left: 15px;
    transform: rotate(200deg);
}
.p-20-4{
    position: absolute;
    top: 41%;
    right: 41%;
    background: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}
.p-20-4::after{
    content: url(../img/gif/talk.gif);
    position: absolute;
    width: 20px;
    top: -17px;
    right: 15px;
    transform: rotate(200deg);
}
.p-20-5{
    bottom: 2%;
    padding: 0 20px;
    color: #fff;
}
.bg-20-1{
    background-color: #7a1509;
}
.bg-20-1 h5{
    color: #aaa;
    text-align: right;
    width: 100%;
}
.p-21-1{
    position: absolute;
    top: 19%;
    color: #fff;
    left: 8%;
    transform: rotate(-20deg);
}
.p-21-2{
    position: absolute;
    bottom: 3%;
    padding: 0 20px;
    color: #ccc;
}
.bg-22 h4{
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 28px;
    left: 5%;
    text-shadow: 0px 0px 5px #fecc5b;
}
.p-22-1{
    position: absolute;
    top: 20%;
    right: 3%;
    background: rgba(255,255,255,1);
    padding: 8px 10px;
    border-radius: 5px;
}
.p-22-1::after{
    content: url(../img/gif/talk.gif);
    position: absolute;
    width: 20px;
    top: -17px;
    right: 15px;
    transform: rotate(200deg);
}
.p-22-1::before{
    content: '村長說';
    position: absolute;
    top: -26px;
    font-weight: bold;
}
.p-22-2{
    position: absolute;
    top: 36%;
    left: 3%;
}
.p-6-6{
    font-size: 48px;
}
@media only screen and (max-width: 575px) {
    .p-6-3{
        display: none;
    }
    .p-22-2{
        font-size: 16px;
        right: 5%;
    }
    .p-22-1{
        font-size: 16px;
        width: 72%;
        top: 16%;
    }
    .p-22-1::before{
        top: -20px;
    }
    .bg-22 h4{
        font-size: 18px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .p-21-2{
        font-size: 16px;
    }
    .p-21-1{
        top: 17%;
        font-size: 16px;
        left: 4%;
        width: 55%;
    }
    .bg-20-1 h5{
        font-size: 14px;
        text-align: center;
        padding: 10px 15px;
    }
    .p-20-5{
        font-size: 14px;
        bottom: 0;
    }
    .p-20-4{
        display: none;
    }
    .p-20-3{
        font-size: 14px;
    }
    .p-20-1{
        font-size: 22px;
    }
    .p-19-2{
        font-size: 18px;
    }
    .p-18-1{
        top: 10%;
        font-size: 18px;
        right: 5%;
        left: 5%;
    }
    .p-17-1{
        top: 0%;
        font-size: 14px;
        left: 5%;
        right: 5%;
    }
    .p-16-2{
        bottom: 12%;
    }
    .p-16-1{
        font-size: 22px;
    }
    .p-15-2{
        font-size: 16px;
    }
    .p-15-1{
        font-size: 16px;
    }
    .p-14-1{
        font-size: 16px;
        top: 5%;
    }
    .p-14-2{
        font-size: 20px;
        width: 50%;
    }
    .p-13-3{
        font-size: 14px;
        width: 59%;
    }
    .p-12-1{
        font-size: 20px;
    }
    .p-12-5{
        font-size: 16px;
        padding: 3px 5px;
    }
    .p-12-4{
        font-size: 16px;
        padding: 3px 5px;
    }
    .bg-11-1{
        display: block;
    }
    .p-11-3{
        font-size: 16px;
        padding: 3px 5px;
        top: 55%;
    }
    .p-11-2{
        font-size: 16px;
    }
    .p-10-5 {
        font-size: 16px;
        text-align: left;
        top: 91%;
        left: 5%;
        color: #fff;
        text-shadow: 1px 1px 3px #333;
    }
    .p-10-3-1 {
        font-size: 14px;
        left: 4%;
        padding: 5px 3px;
        right: 4%;
    }
    .p-10-4 {
        font-size: 14px;
        width: 61%;
        text-shadow: 0px 0px 0px transparent;
        background-color: rgba(50,50,50,0.5);
        color: #fff;
        padding: 5px;
    }
    .p-10-3{
        font-size: 14px;
        padding: 5px;
        top: 43%;
    }
    .p-10-2{
        bottom: 0%;
        font-size: 16px;
    }
    .p-9-2{
        font-size: 16px;
    }
    .p-9-1{
        font-size: 16px;
        top: 0;
        width: 93%;
        left: inherit;
        right: 16px;
    }
    .p-8-3{
        bottom: 9%;
        font-size: 16px;
    }
    .p-8-2{
        font-size: 18px;
    }
    .p-7-2{
        font-size: 14px;
        width: 90%;
        left: 10px;
        text-shadow: 0px 0px 3px #333;
        line-height: 1.1;font-size: 14px;
    }
    .p-7-1{
        font-size: 18px;
    }
    .p-667-2{
        right: 7%;
        bottom: 20%;
        width: 20%;
        min-width: 150px;
    }
    .p-667-1{
        left: 7%;
        width: 27%;
        min-width: 200px;
    }
    .p-6-4{
        display: block;
    }
    .bg-6 h2{
        font-size: 22px;
    }
    .bg-1 img{
        height: 100%;
        width: inherit;
        position: absolute;
        right: 0;
    }
    .bg-1{
        height: 100vh;
    }
    .bg-3{
        top: -195px;
    }
    .bg-4{
        top: -400px;
        height: 850px;
    }
    .bg-4 .bg{
        position: relative;
        width: 1000px;
        right: 120px;
        z-index: 1;
    }
    .bg-5{
        top: -400px;
    }
    .bg-6{
        top: -330px;
    }
    .bg-1 h2{
        top: 100px;
        left: 20px;
        right: 0px;
        font-size: 18px;
    }
    .bg-2 h3{
        right: 20px;
        top: 30px;
        left: 20px;
        font-size: 18px;
    }
    .p-3-2{    
        width: 65%;
        top: 33%;
    }
    .p-3-2 h3{
        top: 40%;
        left: 27%;
        right: 5%;
        font-size: 15px;
    }
    .p-3-3 h3{
        top: 200%;
        width: 90%;
        text-align: center;
        color: #333;
        padding: 10px 15px;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.5)
    }
    .p-3-3 p{
        padding: 2px;
        top: 12px;
        font-size: 11px;
        border-radius: 3px;
        left: 10%;
        background-color: rgba(255, 255, 255, 0.8)
    }
    .p-3-3 p::after{
        opacity: 0;
    }
    .p-3-3 h4 {
        position: absolute;
        padding: 8px 10px;
        top: 100px;
        color: #000;
        background-color: rgba(255,255,255,1);
        right: 3%;
        font-size: 14px;
        border-radius: 3px;
    }
    .p-3-3 h4::after {
        content: url(../img/gif/talk.gif);
        position: absolute;
        width: 20px;
        bottom: 27px;
        right: 10px;
        transform: rotate(180deg);
    }
    .bg-4 p{
        top: 200px;
        font-size: 14px;
        padding: 0 30px;
    }
    .p-4-1{
        width: 115%;
        top: 50px;
    }
    .bg-4 h4{
        top: 80%;
        width: 70%;
        right: 1%;
        font-size: 16px;
        left: 5%;
        background-color: rgba(255,255,255,0.7);
        border: 3px dashed #555;
        border-radius: 10px;
        padding: 10px 15px;
    }
    .bg-5 h5{
        position: relative;
        right: 0;
        top: 20px;
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
        padding: 10px;
    }
    .p-5-2 {
        top: 31%;
        left: 0%;
        width: 47%;
    }
    .p-5-1-1 {
        top: 35%;
        width: 50%;
        left: 49%;
        font-size: 14px;
    }
    .p-5-2-1{
        top: 50%;
        width: 50%;
        right: 48%;
        font-size: 14px;
    }
    .p-5-3{
        top: 46%;
        width: 40%;
        right: 5%;
    }
    .p-5-1{
        top: 64%;
    }
    .p-5-3-1{
        top: 83%;
        left: 0;
        padding: 0 10px;
        font-size: 14px;
    }
    .bg-5{
        padding-bottom: 200px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .p-6-3{
        display: none;
    }
    .p-6-6{
        font-size: 40px;
    }
    .p-18-1{
        top: 10%;
    }
    .p-17-1{
        top: 0%;
        font-size: 20px;
    }
    .p-10-4{
        font-size: 17px;
    }
    .p-10-3{
        font-size: 16px;
    }
    .p-6-4{
        display: block;
    }
    .bg-1 img{
        height: 100%;
        width: inherit;
        position: absolute;
        right: 0;
    }
    .bg-1{
        height: 100vh;
    }
    .bg-3{
        top: -280px;
    }
    .bg-4,.bg-5,.bg-6{
        top: -450px;
    }
    .bg-1 h2{
        top: 100px;
        left: 50px;
        right: 0px;
    }
    .bg-2 h3{
        right: 30px;
        top: 50px;
        left: 100px;
    }
    .p-3-2{    
        width: 50%;
        top: 35%;
    }
    .p-3-2 h3{
        top: 38%;
        left: 27%;
        right: 5%;
        font-size: 16px;
    }
    .p-3-3 h3{
        top: -150px;
        width: 50%;
        color: #333;
        padding: 10px 15px;
        background-color: rgba(255,255,255,0.55); 
    }
    .p-3-3 p {
        top: 34px;
        font-size: 14px;
        border-radius: 3px;
        color: #000;
        left: 9%;
    }
    .p-3-3 p::after{
        bottom: -24px;
    }
    .bg-4 h4{
        top: 200px;
        width: 50%;
        right: 20px;
        font-size: 20px;
    }
    .p-5-2 {
        top: 31%;
        left: 0%;
        width: 47%;
    }
    .p-5-1-1 {
        top: 35%;
        width: 50%;
        left: 49%;
        font-size: 14px;
    }
    .p-5-2-1{
        top: 50%;
        width: 50%;
        right: 48%;
        font-size: 14px;
    }
    .p-5-3{
        top: 46%;
        width: 40%;
        right: 5%;
    }
    .p-5-1{
        top: 64%;
    }
    .p-5-3-1{
        top: 85%;
        left: 0;
        padding: 0 10px;
        font-size: 14px;
    }
    .bg-5{
        padding-bottom: 200px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .bg-1 img{
        height: 100%;
        width: inherit;
        position: absolute;
        right: 0;
    }
    .p-17-1{
        top: 2%;
        left: 8%;
        right: 8%;
    }
    .bg-1{
        height: 100vh;
    }
    .bg-3{
        top: -360px;
    }
    .bg-4,.bg-5,.bg-6{
        top: -600px;
    }
    /* .bg-7{
        padding-bottom: 100px;
        background-color: #72afa7;
    } */
    .bg-1 h2{
        top: 100px;
        left: 90px;
        right: 150px;
    }
    .bg-2 h3{
        right: 50px;
        top: 100px;
    }
    .p-3-3 p {
        top: 34px;
        font-size: 14px;
        left: 9%;
    }
    .bg-4 h4{
        top: 250px;
        width: 50%;
        right: 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .bg-3{
        top: -465px;
    }
    .bg-4,.bg-5,.bg-6{
        top: -725px;
    }
    .bg-2 h3{
        right: 50px;
        top: 150px;
    }
}
@media only screen and (min-width: 1200px){
    .bg-67{
        /* margin-top: -77%; */
    }
}
/*動畫特效*/
.scale-in .word,.scrollimation.scale-in h3,.scrollimation.scale-in h2{
    opacity: 0;
    transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.scale-in.in .word,.scrollimation.scale-in.in h3,.scrollimation.scale-in.in h2{
    opacity: 1;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
}
.left-in{
    opacity: 0;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
}
.left-in.in{
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
}
.right-in{
    opacity: 0;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -o-transform: translateX(40px);
    -ms-transform: translateX(40px);
}
.right-in.in{
    opacity: 1;
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
}
.top-in{
    opacity: 0;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
}
.top-in.in{
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
}
.nn-in{
    opacity: 0;
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
}
.nn-in.in{
    opacity: 1;
}